*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b29a;
}

.shell {
  width: 550px;
  height: 100px;
  border: 1px solid #000;
  margin: 200px auto;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.box{
  width: 25%;
  height: 100%;
  text-align: center;
}

.box i {
  display: block;
  color: #3d405b;
  font-size: 50px;
  line-height: 100px;
  transition: all .2s;
}

.box i:hover{
  color: #fff;
}

.shell::after{
  content: 'pls Contact me--';
  font-size: 18px;
  position: absolute;
  right: 0;
  top: -35px;
  color: #fff;
}

.shell::before{
  content: '';
  position: absolute;
  top: -21px;
  left: 0;
  display: block;
  width: 70%;
  height: 3px;
  background-color: #f4f1de;
}

.box i::after{
  position: absolute;
  bottom: 140px;
  width: 100%;
  content: attr(data-i);
  display: block;
  left: 0;
  font-size: 30px;
  color: #81b29a;
  background-color: #f4f1de;
  opacity: 0;
  transform: translateY(30px);
  transition: all .3s;
}

.box i:hover::after{
  opacity: 1;
  transform: translateY(0);
}