*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

.background{
  background-image: url('./mountain\ range.jpg');
  background-size: cover;
  background-position: 50% 50%;
  height: 200vh;
  font: 900 30rem '';
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.background::before{
  content: '';
  background-size: cover;
  background-image: inherit;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -99;
}

h1{
  position: absolute;
  text-align: center;
  width: 100%;
  letter-spacing: 5px;
  color: #fff;
}

h2{
  position: absolute;
  top: 120vh;
  width: 60%;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background: rgba(0, 0, 0, .3);
}