*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

body{
  height: 100vh;
  background: linear-gradient(to bottom, #89f7fe, #66a6ff);
}

.wave{
  width: 200px;
  height: 200px;
  background-color: #2797e7;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 0 0 50px rgba(255, 255, 255, .2);
}

.wave::after{
  content: 'loading...';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 40px);
  color: #2797e7;
}

.wave::before{
  content: '';
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, .8);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -65%);
  border-radius: 40%;
  animation: wave 5s linear infinite;
}

 /* animation */
 @keyframes wave{
   100%{
     transform: translate(-50%, -65%) rotate(360deg);
   }
 }