*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(122, 111, 156);
  transition: all 1s;
}

.shell{
  width: 280px;
  height: 400px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
  display: flex;
  flex-direction: column;
}

.shell-top{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(223, 223, 223);
  /* overflow: hidden; */
}

.shell-top ul{
  width: 300%;
  height: 100%;
  display: flex;
  position: relative;
  transition: all .3s;
  left: 0;
}

.shell-top ul li{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.shell-top ul li img {
  width: 150px;
}

.shell-top ul li .box-one{
  width: 75%;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
}

.shell-top ul li .box-two{
  width: 60%;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
}

.shell-bottom{
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.shell-bottom li{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(.5);
}

.shell-bottom li img {
  width: 40px;
}